Calculator.xcodeproj/project.xcworkspace/xcuserdata/marcello.xcuserdatad/UserInterfaceState.xcuserstate
Calculator.xcodeproj/project.xcworkspace/xcuserdata/mgsasaki.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
